<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body>
    <div class="ui clearing segment playPageHeader">
		<h1  id="roomID">Play room {{roomID}}</h1>
        <div id="userdiv"></div>
        <h3 class="ui center floated header">
        </h3>
    </div>
	<div class="ui raised very padded text container segment">
		<h2 style="text-align: center">YOU LOSE !</h2>
		<p style="text-align: center" id="bet">-{{bet}}$</p>
		<p class="ui light button" style="height:100%;display: grid;place-items: center;gap:20px;" onclick="window.location.href='index.html';">Home</p>
	</div>
	

    <script src="./lib/jquery-3.3.1.min.js"></script>
    <script src="./lib/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/lose.js"></script>
</body>

</html>