<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body>
    <div class="ui clearing segment playPageHeader">
        <a href="index.html"><button>Home</button> </a>
        <h1>Play</h1>
        <div id="userdiv"></div>
        <h3 class="ui left floated header">
        </h3>
    </div>
    <div class="ui grid">
        <div class="ten wide column">
            <!--  <h3 class="ui center aligned header"> Card List</h3> -->
            <h3 class="ui aligned header">Room List</h3>
            <!------------------------------------------------------------------------->
            <!--    ----------------------------- List ----------------------------- -->
            <!------------------------------------------------------------------------->
            <table class="ui fixed selectable single line celled table" id="cardListId">
                <thead>
                    <tr>
                        <th>Creator</th>
                        <th>Bet</th>
                        <th>Go</th>
                    </tr>
                </thead>
                <tbody id="tableContent">

                    <tr id="error_card" hidden>
                        <td>
                            No cards available.
                        </td>
                    </tr>

                    <template id="row">
                        <tr>
                            <td id="creatorUsername">{{creator}}</td>
                            <td>{{bet}}</td>
                            <td>
                                <div class="ui vertical animated button" tabindex="0">
                                    <div class="hidden content">Join</div>
                                    <div class="visible content">
                                        <i class="play icon"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>

            </table>
        </div>
        <div class=" five wide column" onclick="createRoom()">
            <div class="ui bottom attached button" style="height:100%;display: grid;place-items: center;gap:20px;">
                <i class="plus icon huge" style="margin:0;"></i>
                Create a Room
            </div>
        </div>
    </div>

    <script src="./lib/jquery-3.3.1.min.js"></script>
    <script src="./lib/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/play.js"></script>
</body>

</html>