.large_button {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 30px;
    padding: 30px;
    font-size: 80px;
    width: 370px;
}
.error {
    color: red;
    display: none;
}
.buttons_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 30px;
    height:calc(100% - 115px);
}

.play{
    grid-column: 1 / 3;
}

h1{
    margin: 0;
}
body div.playPageHeader {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
}
.playPageHeader h1 {
    place-self: center;
}
.ui.grid{
    margin:30px;
}

#tableContent,button{
    cursor: pointer;
}

body div.createRoomPageHeader {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
}